:root {
    --ff: sans-serif;
    --sec-clr: #252B42;
    --pri-clr: #FA4A0C;
    --h4-pri-clr: #F7F7F7;
    --h4-sec-clr: #737373;
    --h4-fw: 500;
    --sec-fs: 40px;
    --pri-fs: 24px;
    --fw: 700;
    --fline-height: 57px;
    --lttr-spa: 0.2px;
}

@media(max-width: 600px) {
    header, main {
        width: 90%;
        margin: auto;
    }

    ul li {
        font-size: 25px;
        color: #737373;
    }

    .main-header {
        background: #FAFAFA;
        padding-top: 50px;
        text-align: center;
    }

    .main-header h3 {
        margin-bottom: 7px;
        color: #737373;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.1px;
    }

    .main-header h1 {
        padding: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        letter-spacing: 0.2px;
        color: #252B42;
    }

    .main-header h4 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 38px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #737373;
    }

    .red-btn {
        margin-bottom: 28px;
    }

    #white-btn {
        border: #FA4A0C 1px solid;
        color: var(--pri-clr);
        margin-bottom: 20px;
    }

    #center-intro {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .center-intro h2 {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.1px;
    }

    .hr {
        padding: 0;
        margin: 0;
        order: 2;
        margin-top: 49px;
    }

    .main-sign-up {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        text-align: center;
    }

    .sign-up-text-head-logo {
        order: 2;
    }

    .h3-text {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.1px;
        color: #FA4A0C;
        text-align: center;
    }

    .h2-text {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 57px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #252B42;
    }

    .h4-text {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 38px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #737373;
    }

    .varieties {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .head-h3 {
        display: none;
    }

    .checkout {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
    }

    .checkout-logo {
        order: 2;
        margin-right: 20px;
    }

    .main-footer {
        background: #252B42;
        padding-top: 80px;
        margin-top: 26px;
        padding-bottom: 80px;
    }

    .main-footer h2 {
        padding: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 57px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
    }

    .main-footer h4 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 38px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #BDBDBD;
    }

    .main-footer-h4 {
        display: none;
    }

    .main-footer-second-h4 {
        width: 245px;
        height: 76px;
        margin: auto;
        margin-bottom: 45px;
        padding: 10px;
    }

    .main-footer-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
    }

    #button-btn {
        width: 137px;
        height: 64px;
        margin-right: 16px;
    }

    #button-white-btn {
        width: 186px;
        height: 60px;
    }

    footer {
        text-align: center;
        padding: 25px 0;
        width: 90%;
        margin: auto;
        margin-top: 40px;
       
    }

    .footer-logo {
        display: none;
    }

    .footer-icon {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 30px;
    }

    .footer-icon img {
        align-self: start;
    }

}


body {
    font-family: var(--ff);
    background: #FFFFFF;
}

img {
    max-width: 100%;
}


ul a {
    color: var(--sec-clr);
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: var(--lttr-spa);
}

.btn {
    border-radius: 35px;
    width: 236px;
    height: 68px;
    background-color: var(--pri-clr);
    border: #FA4A0C 1px solid;
    letter-spacing: 0.1px;
    font-style: normal;
    font-size: var(--pri-fs);
    font-weight: var(--fw);
    color: white;
}

.white-btn {
    background: transparent;
    border-color: white;
}

hr {
    border: 1px solid #E4E4E4;
    max-width: 884px;
    display: flex;
    justify-content: center;
}

.center-image {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-right: 50px;
}

/* Media-Query For Big Screen */

@media(min-width: 600px) {
    header {
        display: flex;
        height: 140px;
    }

    .header-logo {
        width: 50%;
        display: flex;
        align-items: center;
        padding-left: 35px;
    }

    nav {
        width: 50%;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;
        height: 135px;
    }

    .home {
        color: var(--pri-clr);
    }

    .main-header {
        background-image: url(./assets/Rectangle\ 48.png);
        text-align: center;
        background-repeat: no-repeat;
        min-height: 550px;
        padding-bottom: 50px;
    }

    .main-header h3 {
        padding-top: 68px;
        color: var(--h4-pri-clr);
    }

    .main-header h1 {
        color: white;
        font-style: normal;
        font-weight: var(--fw);
        letter-spacing: var(--lttr-spa);
        font-size: 58px;
        line-height: 80px;
        margin: 0;
        padding: 0;
    }

    .main-header h4 {
        font-size: var(--pri-fs);
        color: var(--h4-pri-clr);
        font-weight: var(--h4-fw);
        letter-spacing: var(--lttr-spa);
        font-style: normal;
        margin-bottom: 48px;
    }

    .white-btn {
        margin-left: 34px;
    }

    ul a:hover {
        border-bottom: black 2px solid;
        padding-bottom: 5px;
        transition: 300ms ease-in-out;
    }

    li:hover {
        transform: scale(1.2);
    }

    .center-intro h2 {
        font-style: normal;
        font-weight: 600;
        font-size: 44px;
        line-height: 36px;
        /* identical to box height, or 82% */
        letter-spacing: 0.1px;
        color: #000000;
        opacity: 0.8
    }

    .main-sign-up {
        display: flex;
        margin-top: 58px;
        margin-bottom: 25px;
        padding-top: 78px;
        padding-bottom: 60px;
    }

    .pic {
        display: flex;
        justify-content: center;
        width: 50%;
    }

    .sign-up-text {
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 90px;
        padding-right: 90px;
    }

    .sign-up-text h3 {
        margin: 0;
        padding: 0;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.1px;
        color: #FA4A0C;
        margin-bottom: 7px;
    }

    .sign-up-text h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 57px;
        letter-spacing: 0.2px;
        color: #252B42;
        margin: 0;
        padding: 0;
        padding: 10px 0;
        margin-bottom: 17px;
    }

    .sign-up-text h4 {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 38px;
        letter-spacing: 0.2px;
        color: #737373;
        margin: 0;
        padding: 0;
        padding: 10px 0;
    }

    .varieties {
        display: flex;
        margin-bottom: 100px;
        padding-bottom: 25px;
        padding-top: 78px;
    }

    .checkout {
        display: flex;
    }

    .center-intro h2 {
        margin-top: 72px;
    }

    .second-h3 {
        display: none;
    }

    .main-footer {
        background-image: url(./assets/Rectangle\ 47.png);
        background-repeat: no-repeat;
        text-align: center;
        padding: 80px 0;
        margin-top: 120px;
    }

    .main-footer h2 {
        padding: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 57px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
    }

    .main-footer h4 {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 38px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        margin-bottom: 60px;

    }

    .button-btn {
        margin-right: 16px;
    }

    .main-footer-second-h4 {
        display: none;
    }

    footer {
        display: flex;
        width: 90%;
        margin: auto;
        margin-top: 36px;
    }

    .footer-logo, .footer-icon, footer p {
        width: 33.3%;
        margin: 46px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-icon {
        justify-content: space-evenly;
    }

}

.center-intro {
    text-align: center;
}

.button-btn {
    border-radius: 10px;
    width: 142px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.button-white-btn {
    width: 173px;
    border-radius: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    background: transparent;
    border-color: white;
}